
*.pyc
*.pyo
*.pyd
__pycache__
*.db
*.sqlite3
*.log
*.pot
*.po
*.orig
*.swp
*.bak
*.tmp
*.old
*.DS_Store
*.coverage
*.egg-info
*.eggs
*.env
*.venv
*.idea
*.vscode
*.pytest_cache
*.mypy_cache
*.tox
*.coverage
.coverage.*
.cache
node_modules
npm-debug.log
yarn-error.log
.env
.env.*
docker-compose.yml
Dockerfile